/* You can add global styles to this file, and also import other style files */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /*-----------------------------------------------------------------------------------------------*/
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  
  body {
      line-height: 1;
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }

/*-----------------------------------------------------------------------------------------------*/

  body{
    height: 100%;
    font-family: 'Lato', sans-serif;
}

button{
    background-color:#B8EAFF;
    font-size: 14px;
    padding: 10px 26px;
    color: black;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    cursor: pointer;

}

.deleteButton{
  background-color:#FF4A53;
  color: white;
}



table,tr,th,td{
  color: black;
  font-size: 14px;
  padding: 20px 26px;
  text-align: center;
}

table{
  border-radius: 4px;
  overflow: hidden;
  width: 78vw;
}

th{
  background-color:#B8EAFF;
}

tr{
  background-color: white;
}

tr.volunteer{
  border-bottom: #D8DCE3 1px solid;
}



.app-grid-container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 15% 85%;
      
}

nav.app-nav{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
}

div.app-content{
  grid-column-start:2;
  grid-column-end:5;
  background-color: #ECF0F1;
}

  .main-content{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    display: grid;
    gap: 30px 10px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
      "title title search search"
      "message message message message"
      "table table table table"
  }

  .main-content-title{
    font-size: 20px;
    grid-area: title;
  }

  .main-content-table{
    grid-area: table;
    overflow:scroll;
    height: 70vh;
  }

  .main-content-search{
    grid-area : search;
    display: grid;
    grid-template-columns: 50% 45%;
    gap: 10px;

  }

  .main-content-message{
    grid-area : message;
  }

  .tableButtonEntry{
    display: grid;
    gap: 10px;
  }



  

